#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: grab;
}

#start{
    font-size: 36px;
}

body{
    position: relative;
}

.start{
    text-align: center;
}

.setsumei{
    position: absolute;
    width: auto;
    height: 12%;
    z-index: 10;
}

.ending{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 7%;
    z-index: 20;
}

.ending-return{
    margin-top: 20px;
}